[package]
name = "env-architect-macros"
version = "0.1.0"
edition = "2021"

[lib]
proc-macro = true

[dependencies]
syn = "2.0"
quote = "1.0"
proc-macro2 = "1.0"
toml = "0.8"
serde_json = "1.0"
serde.workspace = true
